body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.style-class {
  height: 45px;
  background-color: #f3f4f6;
  font-size: small;
  box-shadow: 0px 2px 5px #f3f4f6;
  z-index: 10;
}
.p-panel .p-panel-header {
  height: 45px;
  font-size: x-large;
  justify-content: center;
  background-color: #f2faff;
  border: none;
  margin-top: 10px;
  font-weight: 100;
  padding-block: 15px;
  position: relative;
  margin-inline: 15px;
}
.buton {
  margin-left: 15px;
  height: 30px;
  font-size: smaller;
}
.buton-input {
  height: 30px;
  font-size: smaller;
  background-color: #3b82f6;
  border: none;
  margin-top: 2px;
}

.buton-check {
  height: 30px;
  font-size: smaller;
  background-color: #3b82f6;
  border: none;
  width: 10rem !important;
  padding-inline: 8px;
}

.class > .p-inputtext {
  font-size: small;
  margin-top: -15px;
}
.p-inputtext {
  font-size: small;
  margin-top: -8px;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  font-size: small;
}
.p-datatable-wrapper {
  font-size: small;
  margin: -5px;
}
.p-fieldset .p-fieldset-legend {
  background-color: transparent;
  border: none;
  padding: 5px;
}
.p-fieldset-legend > span {
  font-weight: lighter;
  font-size: small;
}
.input-style {
  height: 30px;
  margin-block: 5px;
  font-size: small;
}
.input-style:disabled {
  background-color: #f3f4f6;
}
.disabled-background {
  background-color: #f3f4f6;
}

.p-fieldset .p-fieldset-content {
  padding: 0;
}

.p-tieredmenu
  .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-text {
  font-size: small;
}
.p-card .p-card-content {
  padding: 10px;
}
.p-card .p-card-body {
  padding: 0px;
}
.span-style {
  width: 40%;
}

.p-confirm-dialog-accept {
  margin-left: 15px;
  height: 35px;
  font-size: small;
  margin-top: 20px;
}

.p-confirm-dialog-reject {
  margin-left: 15px;
  height: 35px;
  font-size: small;
}
.top{
  margin-top: -10px;
}

.p-calendar {

  width: 100%;
}

@media screen and (max-width: 545px) {
  .p-toolbar {
    height: 100px !important;
    padding-block: 9px !important;
    justify-content: start;
  }
  .p-toolbar-group-left,
  .p-toolbar-group-right,
  .p-dropdown,
  .responsive {
    width: 100%;
  }
  .responsive-button {
    width: 45%;
  }
}

.p-dialog-title,
.p-listbox-list {
  font-size: small;
}

.p-confirm-dialog .p-dialog-content {
  padding: 0;
}
.p-panel .p-panel-content {
  padding: 0;
}
.custom-row {
  height: 20px !important; /* Définissez ici la hauteur souhaitée pour les lignes du tableau */
}
.field > label {
  margin-bottom: 0;
}
.p-dropdown .p-dropdown-trigger {
  width: 10px;
}

.p-multiselect .p-multiselect-trigger {
  width: 10px;
}

.test {
  width: 800px !important;
}
.p-datatable .p-datatable-thead > tr > th {
  padding: 0.5rem 0.5rem;
}
.p-datatable .p-datatable-tbody > tr > td {
  padding: 0.7rem 0.7rem;
}
.p-button .p-button-icon-left {
  margin-right: 0.2rem;
}
.p-multiselect-label-container {
  margin-block: -15px;
}
.p-multiselect-panel .p-multiselect-items {
  padding: 0;
  font-size: small;
}
.p-multiselect.p-multiselect-chip .p-multiselect-token {
  padding: 0.3rem;
  height: 20px;
  margin-top: 5px;
}
.p-datepicker table td > span{
  font-size: small;
  width: 1rem;
  height: 1rem;
}
.p-datepicker table th > span{
  font-size: small;
  font-weight: lighter;
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month, .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year{
  font-size: small;
  font-weight: lighter;
}
.p-checkbox .p-checkbox-box{
  height: 17px;
  width: 17px;
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-close{
  height: 17px;
  width: 17px; 
}
.p-icon{
  height: 0.7rem;
  width: 0.7rem;
}
.p-splitbutton{
  margin-left: -20px;
}
.p-button .p-button-label{
  font-size: small;
}
.p-button .p-button-icon-left{
  font-size: x-small;
  margin-right: 5px;
}
.p-splitbutton .p-splitbutton-defaultbutton{
  height: 21px;
  padding-inline: revert;
  padding-block: 3px;
}
.p-splitbutton .p-splitbutton-menubutton{
  height: 21px;
  width: 20px;
  padding-block: 3px;
}

.p-tieredmenu.p-tieredmenu-overlay{
  width: 100px;
}